body{
	background:#ccc;
	color:peru; 
}

h1{
	color: #9ff;
}

li:nth-child(1) {color: purple; font-size: 10px;}
li:nth-child(2) {color: red; font-size: 20px;}
li:nth-child(3) {color: blue; font-size: 30px;}
li:nth-child(4) {color: yellow; font-size: 40px;}
li:nth-child(5) {color: pink; font-size: 50px;}
li:nth-child(6) {color: black; font-size: 60px;}
li:nth-child(7) {color: white; font-size: 70px;}